# Data Science Tools and Ecosystem

In this notebook, Data Science and Ecosystem are summarized.

<b> Objectives <b>

- Languages in DS
- Libraries in DS
- Tools in DS

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly libraries used by Data Scientist include:

1. Numpy
2. Pandas
3. scikit
4. TensorFlow
5. Pytorch

|Data Science Tool| 
|-----------------| 
|Jupyter Notebook| 
|Apache Spark| 
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In this code cell evaluate the expression (3*4)+5

In [2]:
total = (3*4)+5
print(total)

17

This will convert 200 minutes to hours by dividing by 60.

In [4]:
h = 60 
t = 200 
res = 200/60
print(res)

3.3333333333333335

## Author 
Gustavo Casale